@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #b3b3b3;
  --primary: #1db954;
  --secondary: #212121;
  --accent: #535353;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #b3b3b3;
    --foreground: #121212;
    --primary: #1db954;
    --secondary: #535353;
    --accent: #212121;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}